@font-face {
  font-family: "Inter";
  src: url(../public/fonts/Inter/static/Inter-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(../public/fonts/Inter/static/Inter-Bold.ttf);
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url(../public/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url(../public/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf);
  font-weight: bold;
  font-display: swap;
}
