@import "../styles/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif;
}

p {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: black;
}


/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px #b2b1b9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b2b1b9;
  border-radius: 10px;
}

/*
    HELPERS AND COLORS 
*/

.dark-back {
  background-color: #1f1d36;
}

.dark-back-op {
  background-color: rgba(41, 39, 64, 0.55);
}

.light-back-op {
  background-color: rgba(237, 242, 242, 0.5);
}

.dark * p {
  color: #E5E5E8;
}

.dark * h1,
.dark * h2,
.dark * h3,
.dark * h4,
.dark * h5,
.dark * h6 {
  color: #F9F9F9;
}

.accent-1 {
  color: #8e05c2 !important;
}

.accent-2 {
  color: #3e497a !important;
}

.bg-accent-1 {
  background-color: #8e05c2 !important;
}

.bg-accent-2 {
  background-color: #3e497a !important;
}

.dark * .accent-1 {
  color: #D2AAD4 !important;
}

.dark * .accent-2 {
  color: #94A2DA !important;
}

.dark * .bg-accent-1 {
  background-color: #c996cc !important;
}

.dark * .bg-accent-2 {
  background-color: #6e85b2 !important;
}

.h-128 {
  height: 32rem;
}

.h-108 {
  height: 27rem;
}

/*
    CUSTOM CSS FUNCTIONALITY 
*/

.arrow-list {
  /*ist-style-image: url("/pngs/double-arrow.png");*/
}

/*li:before {
  line-height: 14px;
  width: 14px;
  height: 14px;
}

li::marker {
  line-height: 14px;
  width: 14px;
  height: 14px;
}*/

.dark * .arrow-list {
  /*ist-style-image: url("/pngs/double-arrow-white.png") !important;*/
}

.card-height {
  height: 418px;
}

.card-img {
  display: block;
  width: 334px;
  height: 191px;
  object-fit: cover; /* or object-fit: contain; */
}

@media (min-width: 640px) {
  .card-height {
    height: 376px;
  }
  .card-img {
    display: block;
    width: 250px;
    height: 143px;
    object-fit: cover; /* or object-fit: contain; */
  }
}

@media (min-width: 1280px) {
  .card-height {
    height: 405px;
  }
  .card-img {
    width: 296px;
    height: 175px;
  }
}

/*
    ANIMATIONS
*/

.fadeInUnseen {
  opacity: 0;
}

.fadeIn {
  opacity: 0;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  transition-timing-function: ease-out;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
  }
  to {
    opacity: 1;
  }
}

.fadeInBottom {
  opacity: 0;
  animation-name: fadeInBottom;
  -webkit-animation-name: fadeInBottom;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  transition-timing-function: ease-out;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
}

@keyframes fadeInBottom {
  from {
    transform: translate3d(0, -10px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInBottom {
  from {
    transform: translate3d(0, -10px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fadeInLeft {
  opacity: 0;
  animation-name: fadeInLeft;
  -webkit-animation-name: fadeInLeft;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  transition-timing-function: ease-out;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
}

@keyframes fadeInLeft {
  from {
    transform: translate3d(-25px, -10px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    transform: translate3d(-25px, -10px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fadeInRight {
  opacity: 0;
  animation-name: fadeInRight;
  -webkit-animation-name: fadeInRight;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  transition-timing-function: ease-out;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
}

@keyframes fadeInRight {
  from {
    transform: translate3d(25px, 10px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInRight {
  from {
    transform: translate3d(25px, 10px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fadeOutLeft {
  animation-name: fadeOutLeft;
  -webkit-animation-name: fadeOutLeft;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  transition-timing-function: ease-out;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
}

@keyframes fadeOutLeft {
  from {
    transform: translate3d(0, -0, 0);
  }
  to {
    transform: translate3d(-25px, -10px, 0);
    opacity: 0;
  }
}

@-webkit-keyframes fadeOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-25px, -10px, 0);
    opacity: 0;
  }
}

.fadeOutRight {
  animation-name: fadeOutRight;
  -webkit-animation-name: fadeOutRight;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  transition-timing-function: ease-out;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
}

@keyframes fadeOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(25px, 10px, 0);
    opacity: 0;
  }
}

@-webkit-keyframes fadeOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(25px, 10px, 0);
    opacity: 0;
  }
}

.delay-1 {
  animation-delay: 0.2s;
}
.delay-2 {
  animation-delay: 0.4s;
}
.delay-3 {
  animation-delay: 0.6s;
}
.delay-4 {
  animation-delay: 0.8s;
}
.delay-5 {
  animation-delay: 1s;
}
.delay-6 {
  animation-delay: 1.2s;
}
.delay-7 {
  animation-delay: 1.4s;
}
.delay-8 {
  animation-delay: 1.6s;
}
.delay-9 {
  animation-delay: 1.8s;
}

.area{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}

.area2{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    transform: rotate(180deg);
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.08);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.dark .circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.02);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 50s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 40s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 13s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
